<%- include('../header') %>
<form action="/categorias/nova" method="POST">
    <div class="form-group">
        <label for="categoria">Categoria</label>
        <input id="categoria" class="input-group" placeholder="Insira o nome da categoria" type="text" name="categoria">
    </div>
    
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
<%- include('../footer') %>